<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/core/images/logo.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/core/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/core/css/styles.css">
    <title>FitNess - Place to gain muscles</title>
    <style>

    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-transparent bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/core/images/logo.png" alt="logo" class="logo" width="40" height="40">
        FiTness
      </a>
      <button class="navbar-toggler" style="color: #fff;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <ion-icon name="menu-outline" style="font-size: 2.3rem;"></ion-icon>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item n-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item n-item">
            <a class="nav-link" href="/news">News</a>
          </li>
          <li class="nav-item n-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item n-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link btn btn-sm btn-outline-primary">Sign In</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div style="width: 100%; height: 100%;">
    <div class="darkPart"></div>
    <img src="/core/images/HomePageBg.jpg" alt="homeImg" class="homebg">
    <div class="slideshow-content">
      <div class="slideshow">
        <div class="slide">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ullam perspiciatis possimus distinctio placeat molestias pariatur fugiat assumenda eius nam, dignissimos minus eum earum voluptate dicta accusantium optio soluta veniam?</p>
        </div>
        <div class="slide">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum ratione optio, amet et ex nostrum, eius nam vitae repellat aliquid sapiente suscipit cumque, tempora quia modi. Ducimus omnis a dolores.</p>
        </div>
        <div class="slide">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis nam aliquid laborum, quam tenetur reprehenderit excepturi quibusdam aliquam, hic totam debitis quia velit sequi beatae libero quos, architecto sapiente rerum!</p>
        </div>
        <button class="prev">prev</button>
        <button class="next">next</button>
      </div>
    </div>
  </div>



  <script src="/core/bootstrap/js/bootstrap.min.js"></script>
  <script src="/core//js/jquery.min.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>