<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/core/images/logo.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GYM | Place to gain muscles</title>
    <link rel="stylesheet" href="/core/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/core/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/core/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/core/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/core/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="/core/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/core/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/core/css/style.css" type="text/css">
</head>
<body>
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <div class="offcanvas-menu-overlay"></div>
  <div class="offcanvas-menu-wrapper">
      <div class="canvas-close">
          <i class="fa fa-close"></i>
      </div>
      <nav class="canvas-menu mobile-menu mt-5">
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/contact">Contact</a></li>
          </ul>
      </nav>
      <div id="mobile-menu-wrap"></div>
  </div>


  <header class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="logo">
                    <a href="/">
                        <img src="/core/images/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="nav-menu">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="canvas-open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
  </header>

  <section class="hero-section">
    <div class="hs-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="/core/images/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="hi-text">
                            <span>Shape your body</span>
                            <h1>Be <strong>strong</strong> traning hard</h1>
                            <a href="#" class="primary-btn">Get info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hs-item set-bg" data-setbg="/core/images/hero-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="hi-text">
                            <span>Shape your body</span>
                            <h1>Be <strong>strong</strong> traning hard</h1>
                            <a href="#" class="primary-btn">Get info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

  <section class="choseus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Why chose us?</span>
                    <h2>PUSH YOUR LIMITS FORWARD</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-034-stationary-bike"></span>
                    <h4>Modern equipment</h4>
                    <p>Multi-purpose machines for functional fitness and core stability exercises.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-033-juice"></span>
                    <h4>Healthy nutrition plan</h4>
                    <p>A healthy nutrition plan focuses on eating a variety of whole, unprocessed foods like fruits, vegetables, lean proteins, whole grains, and healthy fats.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-002-dumbell"></span>
                    <h4>Proffesponal training plan</h4>
                    <p>improve overall performance levels, allowing them to compete at the highest level possible.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-014-heart-beat"></span>
                    <h4>Unique to your needs</h4>
                    <p>help to achieve the best possible outcomes based on your unique circumstances.</p>
                </div>
            </div>
        </div>
    </div>
  </section>

  <section class="classes-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Our Classes</span>
                    <h2>WHAT WE CAN OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="/core/images/class-1.jpg" alt="">
                    </div>
                    <div class="ci-text">
                        <span>STRENGTH</span>
                        <h5>Weightlifting</h5>
                        <a href="#"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="/core/images/class-2.jpg" alt="">
                    </div>
                    <div class="ci-text">
                        <span>Cardio</span>
                        <h5>Indoor cycling</h5>
                        <a href="#"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="/core/images/class-3.jpg" alt="">
                    </div>
                    <div class="ci-text">
                        <span>STRENGTH</span>
                        <h5>Kettlebell power</h5>
                        <a href="#"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="/core/images/class-4.jpg" alt="">
                    </div>
                    <div class="ci-text">
                        <span>Cardio</span>
                        <h4>Indoor cycling</h4>
                        <a href="#"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="/core/images/class-5.jpg" alt="">
                    </div>
                    <div class="ci-text">
                        <span>Training</span>
                        <h4>Boxing</h4>
                        <a href="#"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

  <section class="banner-section set-bg" data-setbg="/core/images/banner-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="bs-text">
                    <h2>registration now to get more deals</h2>
                    <div class="bt-tips">Where health, beauty and fitness meet.</div>
                    <a href="#" class="primary-btn  btn-normal">Appointment</a>
                </div>
            </div>
        </div>
    </div>
  </section>

  <section class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="copyright-text">
                    <p>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Sandaruwan Bandara
                    </p>
                </div>
            </div>
        </div>
    </div>
  </section>

  <script src="/core/js/jquery-3.3.1.min.js"></script>
  <script src="/core/js/bootstrap.min.js"></script>
  <script src="/core/js/jquery.magnific-popup.min.js"></script>
  <script src="/core/js/masonry.pkgd.min.js"></script>
  <script src="/core/js/jquery.barfiller.js"></script>
  <script src="/core/js/jquery.slicknav.js"></script>
  <script src="/core/js/owl.carousel.min.js"></script>
  <script src="/core/js/main.js"></script>
</body>
</html>