<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/core/images/logo.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GYM | Place to gain muscles</title>
    <link rel="stylesheet" href="/core/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/core/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/core/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/core/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/core/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="/core/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/core/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/core/css/style.css" type="text/css">
</head>
<body>
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <div class="offcanvas-menu-overlay"></div>
  <div class="offcanvas-menu-wrapper">
      <div class="canvas-close">
          <i class="fa fa-close"></i>
      </div>
      <div class="canvas-search search-switch">
          <i class="fa fa-search"></i>
      </div>
      <nav class="canvas-menu mobile-menu">
          <ul>
              <li><a href="./index.html">Home</a></li>
              <li><a href="./about-us.html">About Us</a></li>
              <li><a href="./classes.html">Classes</a></li>
              <li><a href="./services.html">Services</a></li>
              <li><a href="./team.html">Our Team</a></li>
              <li><a href="./contact.html">Contact</a></li>
          </ul>
      </nav>
      <div id="mobile-menu-wrap"></div>
  </div>


  <header class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="logo">
                    <a href="./index.html">
                        <img src="/core/images/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-9">
                <nav class="nav-menu">
                    <ul>
                        <li class="active"><a href="./index.html">Home</a></li>
                        <li><a href="./about-us.html">About Us</a></li>
                        <li><a href="./class-details.html">Classes</a></li>
                        <li><a href="./services.html">Services</a></li>
                        <li><a href="./team.html">Our Team</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="canvas-open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
  </header>

  <section class="hero-section">
    <div class="hs-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="/core/images/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="hi-text">
                            <span>Shape your body</span>
                            <h1>Be <strong>strong</strong> traning hard</h1>
                            <a href="#" class="primary-btn">Get info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hs-item set-bg" data-setbg="/core/images/hero-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="hi-text">
                            <span>Shape your body</span>
                            <h1>Be <strong>strong</strong> traning hard</h1>
                            <a href="#" class="primary-btn">Get info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>



  <script src="/core/js/jquery-3.3.1.min.js"></script>
  <script src="/core/js/bootstrap.min.js"></script>
  <script src="/core/js/jquery.magnific-popup.min.js"></script>
  <script src="/core/js/masonry.pkgd.min.js"></script>
  <script src="/core/js/jquery.barfiller.js"></script>
  <script src="/core/js/jquery.slicknav.js"></script>
  <script src="/core/js/owl.carousel.min.js"></script>
  <script src="/core/js/main.js"></script>
</body>
</html>