*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    color: #fff;
}
.logo{
    border-radius: 50%;
    padding-right: 20px;
}
.homebg{
    height: 60%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -2;
    object-fit: cover;
}
.darkPart{
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 60%;
    z-index: -1;
}
.n-item{
    margin-right: 10px;
}
.n-item:hover {
    background-color: #fff;
    color: #000;
    border-radius: 20px;
}
.navbar-brand{
    color: #fff;
}
.navbar-brand:hover{
    color: #fff;
}
.slideshow-content{
    margin-top: 7%;
    color: #fff;
    padding-left: 150px;
    padding-right: 150px;  
    text-align: center;  
}
.prev,
.next{
    color: #888;
    border : none;
    font-size: 50px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
}
.prev{
    position: absolute;
    top: 22%;
    left: 5%;
}
.next{
    position: absolute;
    top: 22%;
    right: 5%;
}
.prev:hover,
.next:hover{
    font-size: 55px;
}
